*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: black;
    color:#009CB2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

    margin: 0;
    padding: 0;
}